*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background-color: #779035;
    text-align: center;
        font-size: 2rem;
        font-family: Open Sans;
        display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}
.wrapper_left{
    background-color: #779035;
    min-height: 800px;
    border: 2px solid gray;
}
.wrapper_center{
    width: 50%;
    border: 2px solid grey;
    background: lightgray;
   
}
.wrapper{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper_order{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
.wrapper_static{
    display: flex;
    justify-content: space-around;
}
.order_sale{
    display: flex;
}

.montaj, .station{
    width: 45%;
    border:2px solid #779035;
    padding:2%;
    background: #fff;
    border-radius: 5px;
}

.title_bg{
    background-color:#779035;
    min-height: 80px;
}
.title{
   padding: 20px 0;
    text-align: center;
    color:#fff;
    font-weight: 300;
    font-family: Open Sans;
}
.sale, .order, .clear{
    
    padding:15px;
    display: flex;

}


.view{
    margin-left:5%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    border:2px solid #779035;
    font-weight: 900;
    font-family: Open Sans;
}
.btn{
    width: 100px;
    padding:8px 15px;
    background: #fff;
    border:2px solid #779035;
    border-radius: 5px;
    cursor: pointer;
    color:#779035;
    font-weight: 900;
    font-family: Open Sans;
    
    
}
.btn_all{
    margin:10px 30%;
    width: 100px;
    padding:8px 15px;
    background: none;
    border:2px solid #779035;
    border-radius: 5px;
    cursor: pointer;
    color:#779035;
    font-weight: 900;
    font-family: Open Sans;
}
.montaj_text{
    font-size: 12px;
    margin-top:5px;
    font-family: Open Sans;
}
.title_montaj{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    width: 30%;
    margin-left:20%;
    font-family: Open Sans;
}
.btn_montaj{
    padding: 8px 15px;
    
}



.montaj_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 5%;

}
.all_view{
        width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 5px;
    border:2px solid #779035;
    font-weight: 900;
    font-family: Open Sans;
}
.sbo_view{
    margin-left:20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 5px;
    border:2px solid #779035;
    font-weight: 500;
    font-family: Open Sans;
}
.sbo{
    display: flex;
    justify-content: space-between;
    margin:10px 6%;
}
.sbo_text:nth-child(n+2) {
margin-top:20px;
}
.sbo_view:nth-child(n+2){
    margin-top:7px;
}


.sbo_text{
    list-style-type: none;
    font-size: 15px;
    margin-top:5px;
    font-family: Open Sans;
}
