*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    height: 400px;
    border: 2px solid grey;
    margin: 10% 10%;
}
.sale, .order, .clear{
    padding:15px;
    display: flex;

}
.view{
    margin-left:20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 5px;
    border:1px solid grey;
}
.btn{
    width: 100px;
    padding:8px 15px;
}